// Global variables
$font-family         : 'Poppins', serif;
$font-family-display : 'Gentium Book Basic', serif;

$font-size-base      : 21px;
$line-height-base    : 1.45;

$regular             : 400;
$bold                : 700;

$color-background    : #fff;
$color-text          : #000;
$color-hover         : #333;

$color-blue          : rgb(0, 0, 255);
$color-gray          : rgb(153, 153, 153);

// Reset
@import "_reset.scss";
@import "compass";
@import "icon/style";

// Font scaling
html {
	font-size: 1em;
}

body {
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-family: $font-family;

	color: $color-text;
	background-color: $color-background;
}

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: $font-family-display;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
	font-size: 2.369em;
}

h3 {
	font-size: 1.777em;
}

h4 {
	font-size: 1.333em;
}

small, .font_small {
	font-size: 0.75em;
}


// general
body {
	cursor: url('../img/cursor.ico'), default !important;
}

// #follower {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// }

// #follower #circle1 {
// 	position: absolute;
// 	-webkit-animation: pulse 2s infinite; /* Chrome, Safari, Opera */
// 	animation: pulse 2s infinite;
// 	background: $color-blue;
// 	border-radius: 50%;
// 	height: 0em;
// 	width: 0em;
// 	margin-top: 0em;
// 	margin-left: 0em;
// }

// @-moz-keyframes pulse {
// 	0% {
// 		opacity: 0.2;
// 		height: 1em;
// 		width: 1em;
// 		margin-top: -0.5em;
// 		margin-left: -0.5em;
// 	}
// 	50% {
// 		opacity: 0.9;
// 		height: 3em;
// 		width: 3em;
// 		margin-top: -1.5em;
// 		margin-left: -1.5em;
// 	}
// 	100% {
// 		opacity: 0.2;
// 		height: 1em;
// 		width: 1em;
// 		margin-top: -0.5em;
// 		margin-left: -0.5em;
// 	}
// }

// @-webkit-keyframes pulse {
// 	0% {
// 		opacity: 0.2;
// 		height: 1em;
// 		width: 1em;
// 		margin-top: -0.5em;
// 		margin-left: -0.5em;
// 	}
// 	50% {
// 		opacity: 0.9;
// 		height: 3em;
// 		width: 3em;
// 		margin-top: -1.5em;
// 		margin-left: -1.5em;
// 	}
// 	100% {
// 		opacity: 0.2;
// 		height: 1em;
// 		width: 1em;
// 		margin-top: -0.5em;
// 		margin-left: -0.5em;
// 	}
// }

// @-o-keyframes pulse {
// 	0% {
// 		opacity: 0.2;
// 		height: 1em;
// 		width: 1em;
// 		margin-top: -0.5em;
// 		margin-left: -0.5em;
// 	}
// 	50% {
// 		opacity: 0.9;
// 		height: 3em;
// 		width: 3em;
// 		margin-top: -1.5em;
// 		margin-left: -1.5em;
// 	}
// 	100% {
// 		opacity: 0.2;
// 		height: 1em;
// 		width: 1em;
// 		margin-top: -0.5em;
// 		margin-left: -0.5em;
// 	}
// }

// @keyframes pulse {
// 	0% {
// 		opacity: 0.2;
// 		height: 1em;
// 		width: 1em;
// 		margin-top: -0.5em;
// 		margin-left: -0.5em;
// 	}
// 	50% {
// 		opacity: 0.9;
// 		height: 3em;
// 		width: 3em;
// 		margin-top: -1.5em;
// 		margin-left: -1.5em;
// 	}
// 	100% {
// 		opacity: 0.2;
// 		height: 1em;
// 		width: 1em;
// 		margin-top: -0.5em;
// 		margin-left: -0.5em;
// 	}
// }

html.no-scroll {
	max-height: 100%;
	overflow: hidden;
}


// structure
.button-wrapper {
	text-align: center
}

.button-container {
	position: relative;
	display: inline-block;
	margin-top: 50px;
	margin-right: $font-size-base;
	margin-bottom: 82px;
	margin-left: $font-size-base;
	padding-bottom: $font-size-base;
	box-sizing: border-box;

	font-size: 30px;
	line-height: $font-size-base * 1.5;
	font-family: $font-family;

	border-bottom-width: 3px;
	border-color: $color-blue;
	border-style: solid;

	& > span {
		display: block;
		float: left;
		user-select: none;
	}
}

.btn-choice {
	padding-left: 10px;
	color: #000;

	// cursor: pointer;
	user-select: none;
	@include transition(color, .4s, linear);

	&:before {
		content: '[';
	}

	&:after {
		content: ']';
	}

	&:before,
	&:after,
	&:hover {
		color: $color-blue;
	}

	&.disabled {
		cursor: default;
		&:before,
		&:after {
			content: '';
		}
		&:hover {
			color: $color-gray;
		}
	}
}

.btn-shuffle {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -30px;

	font-size: 13px;
	font-family: $font-family;
	font-weight: $bold;

	color: $color-blue;
	background: none;

	border: none;
	outline: none;
	// cursor: pointer;
}

.stories-container {
	padding: $font-size-base;
    max-width: 880px;
    margin: auto;
}

.story {
	position: relative;
	margin: auto;
	margin-bottom: 20px;
	padding-left: 25px;
	font-family: $font-family-display;
	font-weight: $bold;
	color: $color-gray;
	// cursor: pointer;

	&.clone {
		color: #000 !important;
		.story__title:before {
			background-color: $color-blue;
		}
	}

	&.hidden {
		display: none;
	}

	&:hover {
		.story__title,
		.story__url,
		.story__keywords {
			color: $color-blue;
		}

		.story__title:before,
		.story__url:after {
			background-color: $color-blue;
		}
	}

	.story__title {
		display: block;
		font-size: 33px;
		line-height: 33px;
		&:before {
			position: absolute;
			left: 0;
			top: calc(23px / 2);
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-bottom: 10px;
			margin-right: 10px;
			background-color: $color-gray;
			@include border-radius(100%);
		}
	}
	.story__url {
		display: inline-block;
		position: relative;

		font-size: 18px;
		line-height: 1.2em;
		font-weight: $regular;
		font-style: italic;
		text-decoration: none;
		color: inherit;

		// cursor: pointer;

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background-color: $color-gray;
		} 
		& > span {
			font-style: normal;
		}
	}
	.story__keywords {
		display: block;
		margin-top: -8px;
		font-size: 18px;
		font-weight: $regular;
		text-align: right;
		& > span {
			&:before {
				content: '#';
				display: inline-block;
			}
		}
		& > span + span {
			margin-left: 5px;
		}
	} 
}

.story__overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
    overflow-y: auto;
    .content {
	    max-width: 660px;
    	margin: auto;
    	padding: 0 50px;
    }
}

.btn-close {
    width: 40px;
    height: 40px;
    padding: 20px;
    font-size: 40px;
    float: right;
}