@import "_reset.scss";

body {
	font-size: 16px;
	background-color: #000;
}

#container {
	padding: 10px;

	font-size: 16px;
	line-height: 20px;
	font-family: 'Inconsolata', monospace, sans-serif;

	color: #fff;
	background: black;
	z-index: 100;
}

.select {
	position: relative;
	display: inline-block;
	height: 20px;
	vertical-align: top;
	color: blue;

	overflow: hidden;
	cursor: pointer;

	transition: all .2s ease;

	&:after {
		position: absolute;
		display: block;
		content: '';
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;

		background-color: blue;

		transition: all .2s ease;
	}

	&.select--closed {
		height: 20px !important;
	}

	.select__option {
		height: 20px;
		box-sizing: border-box;
		transition: color .3s ease;

		&:hover {
			color: #fff;
		}

		&.select__option--default {
			color: red;
		}
	}
}


.select + .select {
	margin-left: 20px;
}
