// Global variables
$font-family         : 'Poppins', serif;
$font-family-display : 'Gentium Book Basic', serif;

$font-size-base      : 24px;
$line-height-base    : 1.45;

$color-background    : #fff;
$color-text          : #000;
$color-hover         : #333;

$color-blue: rgb(0, 0, 255);
$color-gray: rgb(153, 153, 153);

// Reset
@import "_reset.scss";
@import "compass";

// Font scaling
html {
	font-size: 1em;
}

body {
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-family: $font-family;

	color: $color-text;
	background-color: $color-background;
}

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: $font-family-display;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
	font-size: 2.369em;
}

h3 {
	font-size: 1.777em;
}

h4 {
	font-size: 1.333em;
}

small, .font_small {
	font-size: 0.75em;
}

.choice {
	padding-left: 10px;
	color: $color-gray;

	cursor: pointer;
	user-select: none;
	@include transition(color, .4s, linear);

	&:before {
		content: '[';
	}

	&:after {
		content: ']';
	}

	&:before,
	&:after,
	&:hover {
		color: $color-blue;
	}
}

.button-container {
	padding: $font-size-base;
	box-sizing: border-box;

	font-size: $font-size-base;
	line-height: $font-size-base  * 1.5;
	font-family: $font-family;
}

.stories-container {
	padding: $font-size-base;
}

.story {
	margin: auto;
	color: $color-gray;
	cursor: pointer;

	.story__title {
	}
	.story__date {}
	.story__author {
		float: right;
	}
	.story__content {}
}
