@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'toc';
  src: url("../fonts/toc.eot?vmt5h9");
  src: url("../fonts/toc.eot?vmt5h9#iefix") format("embedded-opentype"), url("../fonts/toc.ttf?vmt5h9") format("truetype"), url("../fonts/toc.woff?vmt5h9") format("woff"), url("../fonts/toc.svg?vmt5h9#toc") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon__"], [class*=" icon__"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'toc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon__arrow--down:before {
  content: "";
}

.icon__arrow--left:before {
  content: "";
}

.icon__arrow--right:before {
  content: "";
}

.icon__arrow--up:before {
  content: "";
}

.icon__interrogation:before {
  content: "";
}

.icon__smiley:before {
  content: "";
}

.icon__cross:before {
  content: "";
}

html {
  font-size: 1em;
}

body {
  font-size: 21px;
  line-height: 1.45;
  font-family: "Poppins", serif;
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: "Gentium Book Basic", serif;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

small, .font_small {
  font-size: 0.75em;
}

body {
  cursor: url("../img/cursor.ico"), default !important;
}

html.no-scroll {
  max-height: 100%;
  overflow: hidden;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.main-wrapper {
  padding: 0 40px;
}

.button-wrapper {
  text-align: center;
}

.button-container {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  margin-right: 21px;
  margin-bottom: 82px;
  margin-left: 21px;
  padding-bottom: 21px;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 31.5px;
  font-family: "Poppins", serif;
  border-bottom-width: 3px;
  border-color: blue;
  border-style: solid;
}
.button-container > span {
  display: block;
  float: left;
  user-select: none;
  padding-right: 10px;
}

.btn-choice {
  color: #000;
  user-select: none;
  -moz-transition: color, 0.4s, linear;
  -o-transition: color, 0.4s, linear;
  -webkit-transition: color, 0.4s, linear;
  transition: color, 0.4s, linear;
}
.btn-choice:before {
  content: '[';
}
.btn-choice:after {
  content: ']';
}
.btn-choice:before, .btn-choice:after, .btn-choice:hover {
  color: blue;
}
.btn-choice.disabled:before, .btn-choice.disabled:after {
  content: '';
}
.btn-choice.disabled:hover {
  color: #000;
}

.btn-shuffle {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -30px;
  font-size: 13px;
  font-family: "Poppins", serif;
  font-weight: 700;
  color: blue;
  background: none;
  border: none;
  outline: none;
}

.stories-container {
  max-width: 880px;
  margin: auto;
}

.story {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 25px;
  font-family: "Gentium Book Basic", serif;
  font-weight: 700;
  color: #999999;
}
.story.clone {
  color: #000 !important;
}
.story.clone .story__title:before {
  background-color: blue;
}
.story.hidden {
  display: none;
}
.story:hover .story__title,
.story:hover .story__url,
.story:hover .story__keywords {
  color: blue;
}
.story:hover .story__title:before,
.story:hover .story__url:after {
  background-color: blue;
}

.story__title {
  display: block;
  font-size: 33px;
  line-height: 33px;
}
.story__title:before {
  position: absolute;
  left: 0;
  top: calc(23px / 2);
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #999999;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.story__url {
  display: inline-block;
  float: left;
  position: relative;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  color: inherit;
}
.story__url:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #999999;
}
.story__url > span {
  font-style: normal;
}

.story__keywords {
  display: inline-block;
  float: right;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  text-align: right;
}
.story__keywords > span:before {
  content: '#';
  display: inline-block;
}
.story__keywords > span + span {
  margin-left: 5px;
}

.story__content {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 26px;
  font-family: "Gentium Book Basic", serif;
}

.story__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: blue;
  background-color: #fff;
  overflow-y: auto;
}
.story__overlay .content {
  max-width: 990px;
  margin: auto;
  padding: 0 40px;
  box-sizing: border-box;
}
.story__overlay .content h2 {
  margin-bottom: 0;
  font-weight: 700;
}
.story__overlay .content h2:before {
  left: 0;
  top: calc(23px / 2);
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: blue;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.story__overlay .content .story__url:after {
  background-color: blue;
}

.btn-blue {
  display: inline-block;
  padding: 4px 12px;
  color: #fff;
  background: blue;
  text-decoration: none;
}

.btn-container {
  position: fixed;
  top: 0;
  right: 40px;
}

.btn-action {
  float: right;
  width: 40px;
  height: 40px;
  padding: 20px;
  font-size: 40px;
  color: blue;
}

.about {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 60px;
  max-height: 100%;
  color: #fff;
  background-color: blue;
  overflow-y: auto;
}
.about .btn-action {
  color: #fff;
}
.about .wrapper {
  padding: 0 40px;
}
.about .content {
  max-width: 880px;
  margin: auto;
}
.about .title {
  font-family: "Poppins", serif;
  font-weight: 700;
  text-transform: lowercase;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
}
.about .text {
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
  font-family: "Gentium Book Basic", serif;
  font-weight: 400;
}
.about .text:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
}
.about .text b {
  font-weight: 700;
}
.about .thanks {
  margin-top: 110px;
  font-size: 16px;
}
.about .thanks a {
  font-size: 20px;
  font-family: "Gentium Book Basic", serif;
  text-decoration: none;
  color: #fff;
}
.about .thanks a:hover {
  color: #000;
}
.about .thanks hr {
  max-width: 145px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  border-width: 2px;
  border-style: solid;
}

.fluid-col-wrapper {
  float: left;
  width: 100%;
}
.fluid-col-wrapper .content {
  padding-right: 200px;
}

.fixed-col-wrapper {
  float: right;
  width: 200px;
  margin-left: -100%;
}

/*# sourceMappingURL=main.css.map */
