/* line 5, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 20, ../sass/main.scss */
html {
  font-size: 1em;
}

/* line 24, ../sass/main.scss */
body {
  font-size: 24px;
  line-height: 1.45;
  font-family: "Poppins", serif;
  color: #000;
  background-color: #fff;
}

/* line 33, ../sass/main.scss */
p {
  margin-bottom: 1.3em;
}

/* line 37, ../sass/main.scss */
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: "Gentium Book Basic", serif;
}

/* line 44, ../sass/main.scss */
h1 {
  margin-top: 0;
  font-size: 3.157em;
}

/* line 49, ../sass/main.scss */
h2 {
  font-size: 2.369em;
}

/* line 53, ../sass/main.scss */
h3 {
  font-size: 1.777em;
}

/* line 57, ../sass/main.scss */
h4 {
  font-size: 1.333em;
}

/* line 61, ../sass/main.scss */
small, .font_small {
  font-size: 0.75em;
}

/* line 65, ../sass/main.scss */
.choice {
  padding-left: 10px;
  color: #999999;
  cursor: pointer;
  user-select: none;
  -moz-transition: color, 0.4s, linear;
  -o-transition: color, 0.4s, linear;
  -webkit-transition: color, 0.4s, linear;
  transition: color, 0.4s, linear;
}
/* line 73, ../sass/main.scss */
.choice:before {
  content: '[';
}
/* line 77, ../sass/main.scss */
.choice:after {
  content: ']';
}
/* line 81, ../sass/main.scss */
.choice:before, .choice:after, .choice:hover {
  color: blue;
}

/* line 88, ../sass/main.scss */
.button-container {
  padding: 24px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 36px;
  font-family: "Poppins", serif;
}

/* line 97, ../sass/main.scss */
.stories-container {
  padding: 24px;
}

/* line 101, ../sass/main.scss */
.story {
  margin: auto;
  color: #999999;
  cursor: pointer;
}
/* line 109, ../sass/main.scss */
.story .story__author {
  float: right;
}
