$icomoon-font-path: "../fonts" !default;

$icon__arrow--down: "\e900";
$icon__arrow--left: "\e901";
$icon__arrow--right: "\e902";
$icon__arrow--up: "\e903";
$icon__interrogation: "\e904";
$icon__smiley: "\e905";
$icon__cross: "\e906";


